---
- name: Add Docker apt key
  apt_key: id=58118E89F3A912897C070ADBF76221572C52609D keyserver=hkp://pgp.mit.edu:80 state=present

- name: Add Docker PPA
  apt_repository: repo='deb https://apt.dockerproject.org/repo ubuntu-trusty main' update_cache=yes
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_version == '14.04'

- name: Add Docker PPA
  apt_repository: repo='deb https://apt.dockerproject.org/repo ubuntu-vivid main' update_cache=yes
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_version == '15.04'

- name: Add Docker PPA
  apt_repository: repo='deb https://apt.dockerproject.org/repo ubuntu-wiley main' update_cache=yes
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_version == '15.10'

- name: Install Docker
  apt: pkg=docker-engine state=latest 

- name: Ensure docker is running
  service: name=docker state=running enabled=yes

- name: Install PIP
  apt: pkg=python-pip state=latest 

- name: Ensure latest PIP
  pip: name=pip state=latest 
  
- name: Docker-Py
  pip: name=docker-py state=latest 

